img {
    width: 200px;
}

body {
    background-color: rgb(185, 217, 217);
}

main {
    display: grid;
    margin: 20px;
    gap: 20px;
}

h2 {
    color: rgb(16, 80, 16);
}

.hidden {
    display: none;
}

.scoreboard {
    display: grid;
    grid-template-columns: 10% 5% 10% 5% 10% 5% 10% 5%;
}

.plays {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    padding-left: 50px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
