header {
    padding: 10px;
}
img {
    width: 200px;
}

body {
    background-color: rgb(185, 217, 217);
}

h2 {
    color: rgb(92, 63, 134);
}

main {
    display: grid;
    align-items: center;
}

.hidden {
    display: none;
}

.scoreboard {
    display: flex;
    align-content: center;
    gap: 20px;
    font-weight: bold;
    font-size: 1em;
}

/* .plays {
    display: grid;
    grid-template-columns: 15% 1fr;
    align-items: center;
    padding-left: 50px; 
}*/

.results-display {
    display: grid;
    grid-template-columns: 110px 150px 130px 150px;
    gap: 20px;
    font-size: 1em;
    align-items: center;
    justify-content: start;
    align-content: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
